.layout__header {
  position: sticky;
  top: 0;
  height: 84px;
  z-index: 100;
}
.layout__main-content {
  overflow-y: scroll;
  min-height: 75vh;
  max-width: 1500px;
  margin: 0 auto;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  overflow-y: hidden;
  &--authenticated {
    padding: 30px 40px 64px;
    background: #f5f5f5;
    min-height: 95vh;
  }
}
.layout__footer {
  position: relative;
  bottom: 0;
  height: 152px;
}
